.navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
    align-items: center;
    gap: 11%;
}

.navbar li:first-child img {
    width: 120px;
    height: auto;
    cursor: pointer;
}
.navbar a {
    text-decoration: none;
    color: grey;
    font-weight: 500;
    padding: 5px 0;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navbar a:hover {
    color: #c0392b; /* İstersen başka renk */
    border-bottom: 2px solid #c0392b;
    text-decoration: none;
}
.section-part{
    display: inline-block;
}
.section-part table{
    border-collapse: collapse;
}
.section-part table td{
    padding: 5px;
}
.product-part {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Resimler arası boşluk */
    justify-content: center; /* Ortalamak için */
    margin-top: -170px;
    margin-left: 100px;
}
.product-part p{
    background-color: grey;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}
.picture-card {
    border: 4px solid grey;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 2px 5px #d1d1d1;
    /* margin-left: 85px; */ /* Bunu kaldır veya azalt */
    width: 300px;  /* img boyutunu burada da netleştir */
    height: 190px;
    object-fit: cover;
}
.product-part img{
    width: 300px;
    height: 190px;
}
.card-div{
    display: inline-block;
    text-align: center;
}